<h2>Password reset</h2>
<h3>Please enter your email.</h3>


<form *ngIf="!submitSucceeded" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" class="form-control" type="email" formControlName="email" email required>
  </div>
  <div *ngIf="email.invalid && submitAttempted"
       class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Email is required.
    </div>
    <div *ngIf="email.errors.email">
      Field does not correspond to an email address.
    </div>
    <div *ngIf="email.errors.inUse">
      Email already in use.
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary">Submit</button>&nbsp;
  <div *ngIf="submitAttempted" class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</form>

<span *ngIf="submitSucceeded">
  Reset email successfully sent!
</span>
