<h2>Reset password</h2>

<form *ngIf="!submitSucceeded" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" class="form-control" type="email" formControlName="email" email required>
  </div>
  <div *ngIf="email.invalid && submitAttempted"
       class="alert alert-danger">
    <div *ngIf="email.errors.required">
      Email is required.
    </div>
    <div *ngIf="email.errors.email">
      Field does not correspond to an email address.
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" class="form-control" type="password" formControlName="password" required>
  </div>

  <div *ngIf="password.invalid && submitAttempted"
       class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Password is required.
    </div>
    <div *ngIf="password.errors.minlength">
      Password must be at least 6 characters.
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm password</label>
    <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" required>
  </div>

  <div *ngIf="confirmPassword.invalid && submitAttempted"
       class="alert alert-danger">
    <div *ngIf="confirmPassword.errors.required">
      Confirm password is required.
    </div>
  </div>

  <div *ngIf="resetPasswordForm.errors?.samePassword === false && submitAttempted"
       class="cross-validation-error-message alert alert-danger">
    Passwords must match!
  </div>

  <button type="submit">Submit</button>
  <!--<button type="submit" [disabled]="!resetPasswordForm.valid">Submit</button>-->
</form>

<span *ngIf="submitSucceeded">
  Password reset successfully!
</span>
